{% load static %}


<div id='redSocial1' class="container position-fixed ">
    <div >
      <div id='divInsta' class="d-flex">
              <a style="text-decoration:none;" href="https://www.instagram.com/perfumeriacasanorma/?hl=es-la"><p id="socialInsta" class='bg-danger text-light text-center h5 ' >Instagram</p></a>
              <a style="text-decoration:none;" href="https://www.instagram.com/perfumeriacasanorma/?hl=es-la"><i id='instagram' class="fab h3 fa-instagram mr-4 text-danger ml-4 text-center"></i></a>
        
      </div>
    </div>
  
    
    <div >
      <div id='divFace' class="d-flex">  
              <a style="text-decoration:none;" href="https://www.facebook.com/profile.php?id=100021987014258"><p  id="socialFace" class=' text-light text-center text-white bg-primary h5 ' >Facebook</p></a>
              <a style="text-decoration:none;" href="https://www.facebook.com/profile.php?id=100021987014258"><i id='facebook' class="fab h3 fa-facebook-f mr-4 text-primary ml-4 text-center"></i></a>
        
      </div>
    </div >
  
    
    <div >
      <div id='divWhat' class="d-flex">  
              <a style="text-decoration:none;" href="wa.link/819jw5"><p id="socialWhat" class='bg-success text-light text-center h5 ' >Whatsapp</p></a>
              <a style="text-decoration:none;" href="wa.link/819jw5"><i id='whatsapp' class="fab h3 fa-whatsapp mr-4 text-success ml-4 text-center"></i></a>
        
      </div>
  
    </div>
  </div>