{% extends "panel/panelBase.html" %}
{% load crispy_forms_tags %}

{% load static %}


{% block title %}{{title}}{% endblock %}

{% block containtPanel %}

<form method="POST" enctype='multipart/form-data' class="d-flex justify-content-center align-content-center">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12 col-md-6">
            <div class="form-group">
                {{form |crispy }}
            </div>
            <button type="submit" class="btn btn-primary w-100">Guardar</button>
        </div>
    </div>
  </form>





    
{% endblock %}
